img.cliqr--icon {
    width: $button-icon-size;
    height: $button-icon-size;
    vertical-align: middle;
}

a > .cliqr--icon {
    margin-right: 0.25em;
}

h1 > img.cliqr--icon {
    width: $button-icon-size-header;
    height: $button-icon-size-header;
    vertical-align: bottom;
}

i.cliqr--icon {
    font-size: $button-icon-size;
    vertical-align: middle;
}

a i.cliqr--icon::before,
a:hover i.cliqr--icon::before {
    color: $studip-base-color;
}

.cliqr--icon-color-blue::before {
    color: $studip-base-color;
}

.cliqr--icon-color-red::before {
    color: $studip-red !important;
}

.cliqr--icon-color-black::before {
    color: $studip-black !important;
}

.cliqr--icon-color-white::before {
    color: $studip-white !important;
}

.cliqr--icon-color-gray::before,
.cliqr--icon-color-grey::before {
    color: $studip-base-gray !important;
}
