.page.questions-show {

  @chartColor1: #3389b7;
  @chartColor2: #96c7e1;

  @appeal-height: 75px;


  z-index: 1;


  // background color of aside
  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 80%;
    width: 20%;
    height: 100%;
    background: lighten(@color-appeal, 15%);
  }

  .question {
    position: relative;
    width: 100%;
    min-height: 600px;
  }

  article, aside {
    float: left;
    .box-sizing(border-box);
  }

  article {
    width: 75%;
    padding: 0 0.75rem;
  }

  aside {
    margin-left: 5%;
    width: 20%
  }

  .controls {
    position: absolute;
    bottom: 0;
    width: 20%;
    text-align: right;

    .buttons {
      width: 100%;
    }
  }

  /*
  img.qr {
    position: absolute;
    right: 120px;
    top: 4.5em;
  }
  */


  // RESULTS
  .results {

    table {
      font-size: 2em;
      line-height: 1.5;
      overflow: hidden;
      border-collapse: collapse;
    }

    tr {

      &:hover {
        background: #ccc;

        .text div {
          height: auto;
        }
      }
    }

    .nominal {
      color: #999;
      font-size: 0.7em;
      width: 1em;
    }

    .text {
      padding-left: 0.25em;

      div {
        height: 1.5em;
        overflow: hidden;
      }
    }

    .graph, .count, .percent {
      display: none;
      padding-left: 0.5em;
    }

    .chart {
      display: inline-block;
      background-color: @chartColor1;
      #gradient > .horizontal(@chartColor1, @chartColor2);
      height: 1em;
      margin-left: 0.5em;
      vertical-align: text-top;
      border: 1px solid #232323;
    }

    .count {
      color: @chartColor1;
    }

    .percent {
      font-size: 0.66em;
      color: @color-detail;
    }

    tr[data-count="0"] {
      .chart, .percent {
        visibility: hidden;
      }
    }

    .sample-size {
      font-size: 2em;
      color: #666; // TODO
      position: absolute;
      right: 20%;
      bottom: 0;
      padding: 1rem;
    }
  } // END RESULTS


  // INSTRUCTIONS
  .instructions {

    color: darken(@color-appeal, 35%);


    .controls .button {
      display: inline-block;
    }


    .appeal {

      font-size: 1.5rem;

      overflow: hidden;

      span.loader {
        display: none;
        font-style: italic;
        color: darken(@color-appeal, 15%);
      }

      &.busy {
        button {
          display: none !important;
        }
        span.loader {
          display: block;
        }
      }
    }

    .appeal.start {
      padding-left: 1rem;
      text-align: center;

      .button {
        font-size: 1em;
        width: 80%;
      }
    }


    .appeal.vote {

      text-align: center;
      padding-top: 3rem;

      .url {
        margin: 0 0.5em;
      }

      a.short {
        white-space: nowrap;
      }

      a.qr {
        // float: right;
        width: 64px;
        height: 64px;
        background: white url('qrcode.png') no-repeat 50% 50%;
        // border-radius: 64px;
        display: inline-block;
        vertical-align: middle;
        margin: 1rem;
        // position: absolute;
        // top: 50%;
        // right: 0;
        // margin-top: -32px;
        // margin-right: 16px;
        z-index: 1;

        &:hover {
          box-shadow: 0 0 0.25em darken(@color-appeal, 35%);
        }
      }
    }

  } // END INSTRUCTIONS



  // QR CODE
  img.qr {
    height: 493px;
    position: absolute;
    right: 22%;
    border: 1px solid;
    display: none;
  }

  .question.qr-visible img.qr {
    display: inline;
  }
  // END QR CODE





  .question  {


    // show results on stopped questions
    &.state-stopvis {
      .graph, .count, .percent {
        display: table-cell;
      }
    }


    // "vote" only on active questions
    &.state-new, &.state-stopvis {
      .appeal.vote {
        display: none;
      }
    }

    // "sample size" not on new questions
    &.state-new {
      .sample-size {
        display: none;
      }
    }
  }


  .fullscreen() {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;

    .question {
      height: 100%;
    }

    h2 {
      margin-left: 0.5em;
      padding-top: 0.5em;
    }

    .button.fullscreen {
      display: none;
    }

    .appeal {
      margin: 0;
    }
  }

    &:fullscreen { .fullscreen(); }
    &:-webkit-full-screen { .fullscreen(); }
    &:-moz-full-screen { .fullscreen(); }
}
