.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
/*
.input-block-level {
  display: block;
  width: 100%;
  min-height: @inputHeight; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  .box-sizing(border-box); // Makes inputs behave like true block-level elements
}
*/
#layout_container h1,
#layout_container h2,
#layout_container h3,
#layout_container h4,
#layout_container h5,
#layout_container h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
#layout_container h1 small,
#layout_container h2 small,
#layout_container h3 small,
#layout_container h4 small,
#layout_container h5 small,
#layout_container h6 small {
  font-weight: normal;
  line-height: 1;
}
#layout_container h1,
#layout_container h2,
#layout_container h3 {
  line-height: 40px;
}
#layout_container h1 {
  font-size: 38.5px;
}
#layout_container h2 {
  font-size: 31.5px;
}
#layout_container h3 {
  font-size: 24.5px;
}
#layout_container h4 {
  font-size: 17.5px;
}
#layout_container h5 {
  font-size: 14px;
}
#layout_container h6 {
  font-size: 11.9px;
}
#layout_container h1 small {
  font-size: 24.5px;
}
#layout_container h2 small {
  font-size: 17.5px;
}
#layout_container h3 small {
  font-size: 14px;
}
#layout_container h4 small {
  font-size: 14px;
}
.xdebug-var-dump {
  height: 1em;
  overflow: hidden;
  opacity: 0.1;
  -webkit-transition: 0s 9999s;
  -moz-transition: 0s 9999s;
  -o-transition: 0s 9999s;
  transition: 0s 9999s;
}
.xdebug-var-dump:active {
  height: 100%;
  opacity: 1;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
#layout_container,
#layout_container #layout_content {
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* close commented backslash hack */
.cliqr-loader {
  line-height: 1.5em;
  color: #444;
  background: url('../../../../../../assets/images/ajax_indicator_small.gif') 95% center no-repeat;
  padding: 0.5em 20px 0.5em 0.5em;
  border: 1px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  position: absolute;
  top: -0.25em;
}
#layout_container {
  position: relative;
}
#questions-index div.page {
  padding: 15px 0 4.5em;
}
#questions-index form.filter {
  background-color: #e8e8e8;
  border: 1px solid #aaaaaa;
  color: #333333;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  height: 35.171875px;
  margin: 0 0 -0.5em;
  padding: 0px 30px;
  text-shadow: #ffffff 0px 1px 0px;
  position: relative;
}
#questions-index form.filter:after {
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  background-image: url('../../../../../../assets/images/icons/16/black/search.png');
  position: absolute;
  left: 7px;
  top: 50%;
  margin-top: -9px;
  content: "";
  width: 18px;
  height: 18px;
  opacity: .2;
}
#questions-index form.filter input.search {
  width: 100%;
  border: none;
  padding: .4em 0;
  margin: 0;
  display: block;
  background: transparent none;
  outline: 0 !important;
  min-height: 1.4em;
  line-height: 1.4em;
  font-size: 16px;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.7;
  font-style: italic;
}
#questions-index .ui-screen-hidden {
  display: none;
}
#questions-index ol {
  padding: 0;
  list-style: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
#questions-index ol li {
  text-shadow: 0 1px 0 #fff;
  overflow: hidden;
  height: 60px;
  margin: 1px 0 0 0;
  position: relative;
  background-color: #eee;
  cursor: pointer;
}
#questions-index ol li a {
  display: block;
  height: 60px;
}
#questions-index ol li a:hover {
  color: #24437c;
}
#questions-index ol li:hover {
  background-color: #b3b3b3;
  background: #dfdfdf;
  background-color: #eaeaea;
  background-image: -moz-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#e0e0e0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -o-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0f0f0', endColorstr='#ffe0e0e0', GradientType=0);
}
#questions-index ol li.divider {
  background: #bbb;
  background-color: #d6d6d6;
  background-image: -moz-linear-gradient(top, #dddddd, #cccccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddddd), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #dddddd, #cccccc);
  background-image: -o-linear-gradient(top, #dddddd, #cccccc);
  background-image: linear-gradient(to bottom, #dddddd, #cccccc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdddddd', endColorstr='#ffcccccc', GradientType=0);
  color: #333;
  cursor: default;
  height: auto;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 15px;
  text-shadow: 0 1px 0 #ddd;
}
#questions-index ol li .answers span + span {
  border-left: 1px solid #b3b3b3;
  padding-left: 0.5em;
}
#questions-index ol li .count {
  background-color: #eeeeee;
  color: #222222;
  text-shadow: #ffffff 0px 1px 0px;
  position: absolute;
  right: 40px;
  top: 50%;
  margin-top: -1em;
  font-size: 11px;
  font-weight: bold;
  padding: .2em .5em .2em .45em;
  border: 1px solid #cccccc;
  border-radius: 1em;
}
#questions-index ol li.state-new .count {
  display: none;
}
#questions-index ol li.state-active .count {
  visibility: hidden;
}
#questions-index ol li.state-active .count:before {
  visibility: visible;
  content: "AKTIV";
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding: .2em .5em .2em .45em;
  border: 1px solid #cccccc;
  border-radius: 1em;
}
#questions-index ol li .detail {
  padding: 0 15px;
  overflow: hidden;
}
#questions-index ol li .detail h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 6px 0;
}
#questions-index div.empty {
  padding: 1em 0;
}
html.flexbox .questions-show .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}
html.flexbox .questions-show .question article {
  -webkit-box-flex: 3 1 auto;
  -webkit-flex: 3 1 auto;
  -ms-flex: 3 1 auto;
  flex: 3 1 auto;
  position: relative;
}
html.flexbox .questions-show .question aside {
  -webkit-box-flex: 1 1 200px;
  -webkit-flex: 1 1 200px;
  -ms-flex: 1 1 200px;
  flex: 1 1 200px;
  background: #efefef;
}
html:not(.flexbox) .questions-show .question {
  position: relative;
}
html:not(.flexbox) .questions-show .question article,
html:not(.flexbox) .questions-show .question aside {
  float: left;
}
html:not(.flexbox) .questions-show .question article {
  width: 75%;
  padding: 0 0.75rem;
}
html:not(.flexbox) .questions-show .question aside {
  content: " ";
  position: absolute;
  top: 0;
  left: 80%;
  width: 20%;
  height: 100%;
  background: #efefef;
}
html:not(.flexbox) .questions-show .question .sample-size {
  right: 20%;
}
.page.questions-show {
  z-index: 1;
}
.page.questions-show .question {
  width: 100%;
  min-height: 500px;
}
.page.questions-show article,
.page.questions-show aside {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.page.questions-show aside {
  text-align: center;
}
.page.questions-show .controls .buttons {
  width: 100%;
}
.page.questions-show .results table {
  font-size: 2em;
  line-height: 1.5;
  overflow: hidden;
  border-collapse: collapse;
}
.page.questions-show .results tr:hover {
  background: #ccc;
}
.page.questions-show .results tr:hover .text div {
  height: auto;
}
.page.questions-show .results .nominal {
  color: #999;
  font-size: 0.7em;
  width: 1em;
}
.page.questions-show .results .text {
  padding-left: 0.25em;
}
.page.questions-show .results .text div {
  height: 1.5em;
  overflow: hidden;
}
.page.questions-show .results .graph,
.page.questions-show .results .count,
.page.questions-show .results .percent {
  display: none;
  padding-left: 0.5em;
}
.page.questions-show .results .chart {
  display: inline-block;
  background-color: #3389b7;
  background-color: #96c7e1;
  background-image: -moz-linear-gradient(left, #3389b7, #96c7e1);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#3389b7), to(#96c7e1));
  background-image: -webkit-linear-gradient(left, #3389b7, #96c7e1);
  background-image: -o-linear-gradient(left, #3389b7, #96c7e1);
  background-image: linear-gradient(to right, #3389b7, #96c7e1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3389b7', endColorstr='#ff96c7e1', GradientType=1);
  height: 1em;
  margin-left: 0.5em;
  vertical-align: text-top;
  border: 1px solid #232323;
}
.page.questions-show .results .count {
  color: #3389b7;
}
.page.questions-show .results .percent {
  font-size: 0.66em;
  color: #b3b3b3;
}
.page.questions-show .results tr[data-count="0"] .chart,
.page.questions-show .results tr[data-count="0"] .percent {
  visibility: hidden;
}
.page.questions-show .results .sample-size {
  font-size: 2em;
  color: #666;
  padding-right: 1em;
  position: absolute;
  right: 0;
  bottom: 0;
}
.page.questions-show .instructions {
  color: #6e7070;
}
.page.questions-show .instructions .controls .button {
  display: inline-block;
}
.page.questions-show .instructions .appeal {
  font-size: 1.5rem;
  overflow: hidden;
}
.page.questions-show .instructions .appeal span.loader {
  display: none;
  font-style: italic;
  color: #a1a3a3;
}
.page.questions-show .instructions .appeal.busy button {
  display: none !important;
}
.page.questions-show .instructions .appeal.busy span.loader {
  display: block;
}
.page.questions-show .instructions .appeal.start {
  padding-left: 1rem;
  text-align: center;
}
.page.questions-show .instructions .appeal.start .button {
  font-size: 1em;
  width: 80%;
  white-space: normal;
}
.page.questions-show .instructions .appeal.vote {
  text-align: center;
  padding-top: 3rem;
}
.page.questions-show .instructions .appeal.vote .url {
  margin: 0 0.5em;
}
.page.questions-show .instructions .appeal.vote a.qr {
  width: 64px;
  height: 64px;
  background: white url('qrcode.png') no-repeat 50% 50%;
  display: inline-block;
  vertical-align: middle;
  margin: 1rem;
  z-index: 1;
  box-shadow: 0 0 0.25em #bbbcbc;
}
.page.questions-show .instructions .appeal.vote a.qr:hover {
  box-shadow: 0 0 0.25em #6e7070;
}
.page.questions-show img.qr {
  height: 493px;
  position: absolute;
  right: 22%;
  border: 1px solid;
  display: none;
}
.page.questions-show .question.qr-visible img.qr {
  display: inline;
}
.page.questions-show .question.state-stopvis .graph,
.page.questions-show .question.state-stopvis .count,
.page.questions-show .question.state-stopvis .percent {
  display: table-cell;
}
.page.questions-show .question.state-new .appeal.vote,
.page.questions-show .question.state-stopvis .appeal.vote {
  display: none;
}
.page.questions-show .question.state-new .sample-size {
  display: none;
}
.page.questions-show:fullscreen {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
}
.page.questions-show:fullscreen .question {
  height: 100%;
}
.page.questions-show:fullscreen h2 {
  margin-left: 0.5em;
  padding-top: 0.5em;
}
.page.questions-show:fullscreen .button.fullscreen {
  display: none;
}
.page.questions-show:fullscreen .appeal {
  margin: 0;
}
.page.questions-show:-webkit-full-screen {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
}
.page.questions-show:-webkit-full-screen .question {
  height: 100%;
}
.page.questions-show:-webkit-full-screen h2 {
  margin-left: 0.5em;
  padding-top: 0.5em;
}
.page.questions-show:-webkit-full-screen .button.fullscreen {
  display: none;
}
.page.questions-show:-webkit-full-screen .appeal {
  margin: 0;
}
.page.questions-show:-moz-full-screen {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
}
.page.questions-show:-moz-full-screen .question {
  height: 100%;
}
.page.questions-show:-moz-full-screen h2 {
  margin-left: 0.5em;
  padding-top: 0.5em;
}
.page.questions-show:-moz-full-screen .button.fullscreen {
  display: none;
}
.page.questions-show:-moz-full-screen .appeal {
  margin: 0;
}
.ui-dialog a.short,
.page.questions-show a.short {
  white-space: nowrap;
}
.ui-dialog .ui-dialog-content {
  text-align: center;
  padding: 0;
}
.vote-form fieldset {
  border: none;
  border-bottom: 1px solid #EEEEEE;
  margin-left: 0px;
  padding: 30px 0px 20px 20px;
}
.vote-form legend {
  font-size: 1.75em;
  color: #899AB9;
  padding-top: 30px;
}
.vote-form label {
  text-align: left;
  width: 220px;
  float: left;
  padding-top: 5px;
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.vote-form .control-group {
  margin-left: 260px;
}
.vote-form .control-group textarea,
.vote-form .control-group input,
.vote-form .control-group .choice-new {
  width: 400px;
  margin-bottom: 5px;
  padding: 4px 6px;
  border: 1px solid #CCCCCC;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.024);
}
.vote-form .control-group .choice-new {
  cursor: pointer;
  display: block;
  vertical-align: middle;
  background-color: #FCFCFC;
  color: #999999;
}
.vote-form .control-group .choice-input a.close {
  vertical-align: middle;
  padding: 5px;
  cursor: pointer;
}
.vote-form .control-group .choice-input a.close:hover {
  text-shadow: 0 0 2px #899AB9;
  color: #666666;
}
.vote-form .form-actions {
  float: right;
}
