; <?php die(); __halt_compiler();
;
; Cliqr configuration file
; (note the first line. php opener/die included to prevent dumping settings to browser)
;

[shortener]
file = lib/MockShortener.php
class = \Cliqr\MockShortener
;file = lib/GoogleShortener.php
;class = \Cliqr\GoogleShortener

[google]
api_url = https://www.googleapis.com/urlshortener/v1/url
api_key = <MY-GOOGLE-KEY>

[pusher]
key = <MY-PUSHER-KEY>
secret = <MY-PUSHER-SECRET>
app_id = <MY-PUSHER-APP-ID>
