<a class="questions-new button"
     href="#new"
     tabindex="0">Frage erstellen</a>

<h3>
  Geplante Fragen
</h3>
<div class="questions" id="new-questions"/>

<h3>
  Laufende Fragen
</h3>
<div class="questions" id="active-questions"/>

<h3>
  Gestoppte Fragen
</h3>
<div class="questions" id="stopped-questions"/>
