<br><a class="questions-new button"
     href="#new"
     tabindex="0">Frage erstellen</a>

<h2>Vorbereitete Fragen:</h2>
{{{table_new}}}

<h2>Laufende Fragen:</h2>
{{{table_active}}}

<h2>Gestoppte Fragen:</h2>
{{{table_stopped}}}