<form class="vote-form" action="#question-{{id}}" method="post" accept-char="UTF-8">
  <fieldset>
    <legend>Frage</legend>
    <label for="question">Was möchten Sie fragen?</label>
    <div class="control-group">
      <input autocomplete="off" id="question-text" name="question"
             type="text" value="{{question}}" required="required">
    </div>
  </fieldset>

  <fieldset>
    <legend>Antwortmöglichkeiten</legend>
    <label class="control-label">
        Tragen Sie die Antworten ein
    </label>
    <div class="control-group choices">
      {{#answers}}
        {{> choice}}
      {{/answers}}
      {{^answers}}
        {{> choice this }}
      {{/answers}}
      <div class="choice-new">Click here to add option</div>
    </div>
  </fieldset>

  <fieldset>
    <div class="button-group">
      <button type="submit" class="button" name="save">
        Speichern
      </button>
      <button type="submit" class="button" name="save-n-new" disabled="disabled">
        Speichern und eine weitere Frage anlegen
      </button>
      <button type="submit" class="button" name="save-n-start" disabled="disabled">
        Frage direkt starten
      </button>
      <button class="button" name="cancel">
        Abbrechen
      </button>
    </div>
  </fieldset>
</form>
