{{#if editable}}
    <div class="cliqr--component-switchable-wysiwyg"></div>
{{else}}
    <span class="cliqr--component-switchable-noneditable">{{{valueView}}}</span>
    {{fab "edit" "Bearbeiten" "edit"}}
{{/if}}
