{{#if editable}}
    <div class="cliqr--component-switchable-wysiwyg"></div>
{{else}}
    <span class="cliqr--component-switchable-noneditable">{{value}}</span>
    {{fab "edit" "Bearbeiten" "edit"}}
{{/if}}
