<input class="choice no-hint" maxlength="500" type="text" name="statements[{{index}}]" value="{{text}}" required>

<span class="cliqr--scales-choice-actions">
    {{fab "remove" "Entfernen" "trash"}}
</span>
