{{#> scales_header}}
{{#*inline "title"}} Skalen-Frage: {{title}}  {{/inline}}
{{/scales_header}}

<main>
    <ul class="cliqr--scales-statements">
        {{#each task.statements}}
            <li>
                <span class="nominal"> Aussage {{nominal @index}}: </span>
                <span class="text"> {{text}} </span>
            </li>
        {{/each}}
    </ul>
</main>
