{{> ./_scales_header header="Frage:"}}

<main>
    <ul class="cliqr--scales-statements">
        {{#each task.statements}}
            <li class="text"> {{text}} </li>
        {{/each}}
    </ul>
</main>
