{{> ./_scales_header header="Frage:"}}

<main>
    <ol class="cliqr--scales-statements">
        {{#each task.statements}}
            <li class="text"> {{text}} </li>
        {{/each}}
    </ol>
</main>
