{{> scales_header header="Skalen-Frage:"}}

<main>
    <ul class="cliqr--scales-statements">
        {{#each task.statements}}
            <li>
                <span class="nominal"> Aussage {{nominal @index}}: </span>
                <span class="text"> {{text}} </span>
            </li>
        {{/each}}
    </ul>
</main>
