@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

$color-activity80: $studip-yellow;
$color-activity100: $studip-orange;

$color-detail: $studip-black;
$color-diminished: #999999;

#cliqr-poll-container {
    .cliqr--scales-poll-view {
        .description {
        }

        li {
            padding: 0;
        }

        label {
            display: block;
            padding: 0.75rem 1.25rem;
            margin: 0;
        }

        .rangeslider__ruler {
            cursor: pointer;
            font-size: 0.7em;

            margin: 30px 3px 0 3px;
            position: relative;
            top: -20px;

            display: flex;
            justify-content: space-between;
        }

        output {
            width: 100%;
            text-align: center;
        }
    }
}

#cliqr {
    .cliqr--scales-show-view,
    .cliqr--scales-assignment-view {
        .cliqr--scales-description {
            @include tablet {
                font-size: $size-medium;
            }

            @include desktop {
            }

            @include widescreen {
                font-size: $size-large;
            }

            @include fullhd {
                font-size: $size-huge;
            }
        }

        .cliqr--scales-slider {
            margin: 1em;
        }

        .cliqr--scales-statements {
            margin-top: 1em;
            padding-left: 0;
            list-style-type: none;

            li {
                font-size: 2em;
                line-height: 2;
                padding: .25em 0;
                border-bottom: 2px solid $border;
            }
        }

        .nominal {
            color: $color-diminished;
            width: 1em;
        }

        .text {
            padding-left: 0.75em;
        }


        svg {
            .bar {
                fill: $color-activity80;

                text {
                    fill: black;
                }
            }

            line.center {
                stroke: black;
                stroke-width: 2px;
                stroke-dasharray: 3, 3;
            }

            line.median {
                stroke: black;
                stroke-width: 2px;
            }

            line.whisker {
                stroke: black;
                stroke-width: 1px;
            }

            rect.box {
                fill: white;
                stroke: black;
                stroke-width: 1px;
            }

            text.box {
                font-size: 10px;
            }
        }
    }

    .cliqr--scales-create-view,
    .cliqr--scales-edit-view {
        @include desktop {
            display: flex;
        }

        .card {
            max-width: 48em;
            margin-left: 0.5em;
            margin-right: 0.5em;
            align-self: flex-start;
            display: none;

            @include tablet {
                display: block;
            }

            @include desktop {
                flex-basis: 300px;
                order: 2;
                margin-left: 2em;
            }
        }

        form {
            flex: 0 1 48em;

            label > span {
                font-weight: 700;
                display: block;
                margin-top: 1.5em;
                margin-bottom: 0.5em;
            }

            @include desktop {
                label:first-child > span {
                    margin-top: 0;
                }
            }

            footer {
                margin-top: 1.5em;
            }
        }

        .choices {
            margin-bottom: 1.5em;

            input {
                margin-bottom: 5px;
                padding: 4px 6px;
                border: 1px solid #cccccc;
                box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.024);
            }

            .choice-input {
                display: flex;
                margin-top: 0.75em;

                input {
                    display: inline-block;
                    margin: 0;
                }
            }

            .cliqr--scales-choice-actions {
                margin-left: 8px;
            }

            .choices-required {
                position: relative;

                select {
                    position: absolute;
                    left: 0;
                    top: -25px;
                    z-index: -1;
                    border: none;
                }
            }
        }

        .cliqr--scales-range {
            > div {
                display: flex;

                span {
                    display: inline-block;
                    min-width: 5em;
                    line-height: 3em;
                }

                input {
                    display: inline;
                    vertical-align: baseline;
                    width: auto;
                    margin: 0;

                    &::placeholder {
                        color: #888;
                    }

                    &[type='number'] {
                        max-width: 6em;
                    }
                    &[type='text'] {
                        flex-grow: 2;
                    }
                }
            }
        }
    }

    .cliqr--component-switchable {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
