section.cliqr--archive-votings {

    .cliqr--archive-header {
        white-space: nowrap;
        overflow: hidden;
        max-width: 35em;

        > a {
            line-height: 3em;
            display: block;
            white-space: nowrap;
        }
    }

    .cliqr--archive-date {
    }

    .cliqr--archive-bubble {
    }
}
