button.cliqr--button.active {
  background-color: $color-accent;
  color: $color-accent-contrast;
  outline: 0;

  &:hover {
    img:first-child {
      opacity: 1;
    }

    img:last-child {
      opacity: 0;
    }
  }
}

button.cliqr--button-with-icon {
  padding-left: calc(15px + $button-icon-size);
}

button.cliqr--button {
  &:not(:disabled) {
    transition: background 0.3s ease-in-out;

    &:hover {
      background-color: $color-accent;
    }
  }

  img {
    top: calc(($studip-button-height - $button-icon-size) * 0.5);
  }
  &.cliqr--button-important {
    font-weight: 800;
  }
}

button.cliqr--button-fab {
  width: $button-size;
  height: $button-size;
  min-width: $button-size;
  color: transparent;
  margin: 0;
  padding: 0;

  &.cliqr--flat {
    border: none;
    background-color: transparent;
  }

  & + & {
    margin-left: 8px;
  }

  &.cliqr--flat + &.cliqr--flat {
    margin-left: 0px;
  }

  transition: box-shadow 0.3s;
  box-shadow: 0 0 8px 0px rgba(0,0,0,0.0), inset 0 0 0 0px $color-accent;

  &:hover {
    box-shadow: 0 0 8px 0px rgba(0,0,0,0.7), inset 0 0 0 calc($button-size / 2) $color-accent;
    background-color: transparent;
  }
  img {
    top: calc(($button-size - $button-icon-size) * 0.5);
  }
}

button.cliqr--button-fab,
button.cliqr--button {
  &.loading {
    padding-left: 0;

    img { display: none; }

    &:before {
      content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiBmaWxsPSJibGFjayI+CiAgPHBhdGggb3BhY2l0eT0iLjI1IiBkPSJNMTYgMCBBMTYgMTYgMCAwIDAgMTYgMzIgQTE2IDE2IDAgMCAwIDE2IDAgTTE2IDQgQTEyIDEyIDAgMCAxIDE2IDI4IEExMiAxMiAwIDAgMSAxNiA0Ii8+CiAgPHBhdGggZD0iTTE2IDAgQTE2IDE2IDAgMCAxIDMyIDE2IEwyOCAxNiBBMTIgMTIgMCAwIDAgMTYgNHoiPgogICAgPGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJyb3RhdGUiIGZyb209IjAgMTYgMTYiIHRvPSIzNjAgMTYgMTYiIGR1cj0iMC44cyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIC8+CiAgPC9wYXRoPgo8L3N2Zz4K);
      display: inline-block;
      line-height: 1.3em;
      vertical-align: middle;
      padding-left: 0.2em;
    }
  }

  position: relative;

  img {
    position: absolute;
    width: $button-icon-size;
    height: $button-icon-size;
    left: calc(($button-size - $button-icon-size) * 0.5);
    transition: opacity 0.5s ease-in-out;
  }

  &:hover {
    img:first-child {
      opacity: 0;
    }

    img:last-child {
      opacity: 1;
    }
  }

  img:last-child {
    opacity: 0;
  }
}
