$button-size: 32px;
$button-icon-size: 20px;

.cliqr--button-fab {
  width: $button-size;
  height: $button-size;
  min-width: $button-size;
  color: transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  padding: 0;

  img {
    vertical-align: middle;
  }

  &:hover {
    background-color:#aaa;
  }

  & + & {
    margin-left: 8px;
  }
}
