/* Local Variables: */
/* eval: (outline-minor-mode 1) */
/* eval: (org-global-cycle) */
/* End: */

/*
// * Variables */

@lost flexbox flex;

$color-accent: #28497c !default;
$color-accent-contrast: #ffffff !default;

$button-size: 32px;
$button-icon-size: 20px;

$bubble-font-size: 12px !default;
$bubble-color: #ffffff !default;
$bubble-background: #28497c !default;
$bubble-min-size : 12px !default;
$bubble-padding: 3px 7px !default;

$baseFontSize:          14px;
$baseLineHeight:        20px;

$headingsFontWeight:    bold;

/*
// * Cliqr-Loader */
.cliqr-loader {
  line-height: 1.5em;
  color: #444;
  background: white url(data:image/gif;base64,R0lGODlhEAAQAPMAAMXFxff394qKiry8vJOTk83NzYKCgubm5qysrN7e3u7u7np6epubm7S0tKOjowAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCAAAACwAAAAAEAAQAAAETBDISau9NZDFl2xDYGmdZCzCkQklULCCOA3oNgXsQG2FRhULAoWDIU6MGSSAR0G4ghRa7IjIUXCogqQzpRxYhi2HILsOGuJxGcNuTyIAIfkECQgADAAsAgAAAAwAEAAABFWQyWOAvJiJRVJmwWAs5IEdG7kgoAJuArAYSkAI4YIzxPAuA8KiICEWOaQPSLUIKElCY8BY4Ax0zuBvEBCwFCMAzOliIJgC0+WgMnA/CaFAeQEY1IwIACH5BAkIAA0ALAIAAAAMABAAAARTsMnZFKO4gVVoGMSyGGMgHYKoikMTpEKXiEY3LILZ3IgedpLBwVW4LTKSFTLAKpgOLUlhQZAEEIvoK9sokBaJQAFmMq5wQxfpSxjopAsAcsJQICMAIfkECQgAAAAsAgABAA0ADQAABEYQyElBCDIMshYZF5EAh9Cdi8AlgSkUUmF2yZBiGUc3BjzptIpQkigWcRUUglIwNACn5aS1GEA7r4vsBnXMUIKDZKnRfZARACH5BAkIAAwALAAAAgAQAAwAAARUkEkWBlmLjDC7Eli4CEc3IULBFaDATSXVBeDAlMmCKCYDLAaBgXEBbiSFIgbwCxEKk4EBQ2AEp4CeArFI3BiD0UsS4MTILVWARRjDQKIRr1cpatwRACH5BAUIAA0ALAAAAgAQAAwAAARTsMk51iIjzBkGaIVlCcdWGIsRaKCwCCwjLsgWuIOkAKhVTiHCxpIY5IYLJEtiTFg2hEVhcxAZAArma9lAzBiS26ugWaEM08nBJZoWMpvwILo4biIAOw==) 95% center no-repeat;
  padding: 0.5em 20px 0.5em 0.5em;
  border: 1px solid #ccc;
  border-radius: 8px;
  position: relative;
  top: 0.5em;
}

#cliqr-container {
/*
// * Typography */
  h1, h2, h3, h4, h5, h6 {
    margin: calc($baseLineHeight / 2) 0;
    font-weight: $headingsFontWeight;
    line-height: $baseLineHeight;
    text-rendering: optimizelegibility; // Fix the character spacing for headings

    small {
      font-weight: normal;
      line-height: 1;
    }
  }

  h1, h2, h3 {
    line-height: calc($baseLineHeight * 2);
  }

  h1 { font-size: calc($baseFontSize * 2.75); } // ~38px
  h2 { font-size: calc($baseFontSize * 2.25); } // ~32px
  h3 { font-size: calc($baseFontSize * 1.75); } // ~24px
  h4 { font-size: calc($baseFontSize * 1.25); } // ~18px
  h5 { font-size: calc($baseFontSize); }
  h6 { font-size: calc($baseFontSize * 0.85); } // ~12px

  h1 small { font-size: calc($baseFontSize * 1.75); } // ~24px
  h2 small { font-size: calc($baseFontSize * 1.25); } // ~18px
  h3 small { font-size: calc($baseFontSize); }
  h4 small { font-size: calc($baseFontSize); }

/*
// * Bubble */
  .bubble {
    display: inline-block;
    min-width: $bubble-min-size;
    padding: $bubble-padding;
    font-size: $bubble-font-size;
    font-weight: 600;
    color: $bubble-color;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: $bubble-background;
    border-radius: $bubble-min-size;
  }

/*
// * Button */

  .cliqr--button-fab {
    width: $button-size;
    height: $button-size;
    min-width: $button-size;
    color: transparent;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;

    img {
      vertical-align: middle;
    }

    &:not(:disabled):hover {
      background-color: color($color-accent alpha(20%));
    }

    & + & {
      margin-left: 8px;
    }
  }

  .cliqr--button {
    img {
      vertical-align: middle;
      padding: 2px;
    }

    &:hover img {
      background-color: $color-accent-contrast;
    }
  }

/*
// * Icon */

  img.cliqr--icon {
    width: $button-icon-size;
    height: $button-icon-size;
    vertical-align: middle;
  }

/*
// * Task Groups */

  table.task-groups {
    border-collapse: collapse;
    width: 100%;

    tbody tr {
      border-top: 1px solid $color-accent;
      border-bottom: 1px solid $color-accent;
      line-height: 3em;
    }

    tbody {
      a {
        font-weight: 800;
      }
    }

    th {
      text-align: left;
    }
  }

/*
// * Task Lists */
  .cliqr--task-list {
    width: 100%;
    padding: 0;
    list-decoration: none;

    .cliqr--task-list-item {
      border-color: $color-accent;
      border-top: 1px solid;
      padding-top: 0.5em;
      padding-bottom: 1em;

      lost-flex-container: row;

      > div {
        box-sizing: border-box;
      }

      &:last-child {
        border-bottom: 1px solid;
      }
    }

    .cliqr--task-checkbox {
      lost-column: 1/24 0;
      align-self: center;
    }

    .cliqr--task-header {
      lost-column: 15/24 1em 0;

      > a {
        line-height: 2.5em;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 800;
      }

      .cliqr--task-last-assignment {
        line-height: 2.5em;
        margin-left: 1em;
        font-style: italic;
        font-size: 0.8em;

        img {
          height: 16px;
        }
      }
    }

    .cliqr--task-changed {
      lost-column: 3/24 1em 0;
      align-self: center;

      color: color(#000000 whiteness(50%));
      font-size: 0.8em;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .cliqr--task-actions {
      lost-column: 3/24 0 0;
      align-self: center;

      white-space: nowrap;
    }

    input {
      vertical-align: middle;
      margin: 8px 8px 8px 0;
    }
  }

/*
// * Task Creator */
  .tasks-add {
    ul.task-types {
      padding: 0;

      li {
        display: inline-block;

        button img {
          vertical-align: middle;
        }

        button:hover {
          background-color: color($color-accent-contrast blackness(20%));
          color: $color-accent;
        }
      }

      li.selected button {
        background: $color-accent;
        color: $color-accent-contrast;
        outline: 0;
      }
    }
  }

/*
// * Voting Show */

  article.cliqr--votings-show {
    lost-flex-container: row;

    > header {
      lost-column: 12/12;
    }

    > main {
      lost-column: 9/12;
    }

    > nav {
      lost-column: 3/12 0;
    }

    nav {
      fieldset {

        legend {
        }

        select {
          margin-top: 0;
          width: calc(100% - 35px);
        }

        option[disabled] {
          font-style: italic;
        }

        button {

        }
      }
    }
  }

/*
// * Voting Show */

  article.cliqr--votings-compare {

    > header {
      padding-bottom: 3em;
    }

    > main {
      lost-flex-container: row;

      > section {
        lost-column: 1/2 0 0;
        box-sizing: border-box;
      }

      .cliqr--voting-side-a {
        padding-right: 15px;
        border-right: 1px solid #eee;
      }

      .cliqr--voting-side-b {
        padding-left: 15px;
      }
    }
  }

/*
// * Task Show */

  article.cliqr--tasks-show {
    lost-flex-container: row;


    > nav {
      width: 100%;
    }

    > main {
      lost-column: 9/12;
    }

    > aside {
      lost-column: 3/12 0;

      ol {
        padding: 0;
      }
    }
  }

/*
// * Votings Archive */
  section.cliqr--archive-votings {

    * {
      box-sizing: border-box;
    }

    > ol {

      list-decoration: none;
      padding-left: 0;

      li {
        lost-flex-container: row;
      }
    }

    .cliqr--archive-header {
      lost-column: 8/12 0 0;

      > a {
        line-height: 3em;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .cliqr--archive-date {
      lost-column: 3/12 0 0;
    }

    .cliqr--archive-bubble {
      lost-column: 1/12 0 0;
    }
  }
}
