/* Local Variables: */
/* eval: (outline-minor-mode 1) */
/* eval: (org-global-cycle) */
/* End: */

/*
// * Variables */

@lost flexbox flex;

$color-accent: #28497c !default;
$color-accent-contrast: #ffffff !default;

$button-size: 32px;
$button-icon-size: 20px;

$bubble-font-size: 12px !default;
$bubble-color: #ffffff !default;
$bubble-background: #28497c !default;
$bubble-min-size : 12px !default;
$bubble-padding: 3px 7px !default;

$baseFontSize:          14px;
$baseLineHeight:        20px;

$headingsFontWeight:    bold;

#layout_content {
  position: relative;
}

/*
// * Cliqr-Loader */

body.cliqr--loading #layout-sidebar .sidebar-image:first-child {
  .sidebar-title:after {
    content: "…";
  }

  .sidebar-context {
    background-color: rgba(255, 255, 255, 0.6);
    img {
      content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiBmaWxsPSJibGFjayI+CiAgPHBhdGggb3BhY2l0eT0iLjI1IiBkPSJNMTYgMCBBMTYgMTYgMCAwIDAgMTYgMzIgQTE2IDE2IDAgMCAwIDE2IDAgTTE2IDQgQTEyIDEyIDAgMCAxIDE2IDI4IEExMiAxMiAwIDAgMSAxNiA0Ii8+CiAgPHBhdGggZD0iTTE2IDAgQTE2IDE2IDAgMCAxIDMyIDE2IEwyOCAxNiBBMTIgMTIgMCAwIDAgMTYgNHoiPgogICAgPGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJyb3RhdGUiIGZyb209IjAgMTYgMTYiIHRvPSIzNjAgMTYgMTYiIGR1cj0iMC44cyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIC8+CiAgPC9wYXRoPgo8L3N2Zz4K);
    }
  }
}

#cliqr-container {
/*
// * Typography */
  h1, h2, h3, h4, h5, h6 {
    margin: calc($baseLineHeight / 2) 0;
    font-weight: $headingsFontWeight;
    line-height: $baseLineHeight;
    text-rendering: optimizelegibility; // Fix the character spacing for headings

    small {
      font-weight: normal;
      line-height: 1;
    }
  }

  h1, h2, h3 {
    line-height: calc($baseLineHeight * 2);
  }

  h1 { font-size: calc($baseFontSize * 2.75); } // ~38px
  h2 { font-size: calc($baseFontSize * 2.25); } // ~32px
  h3 { font-size: calc($baseFontSize * 1.75); } // ~24px
  h4 { font-size: calc($baseFontSize * 1.25); } // ~18px
  h5 { font-size: calc($baseFontSize); }
  h6 { font-size: calc($baseFontSize * 0.85); } // ~12px

  h1 small { font-size: calc($baseFontSize * 1.75); } // ~24px
  h2 small { font-size: calc($baseFontSize * 1.25); } // ~18px
  h3 small { font-size: calc($baseFontSize); }
  h4 small { font-size: calc($baseFontSize); }

/*
// * Bubble */
  .bubble {
    display: inline-block;
    min-width: $bubble-min-size;
    padding: $bubble-padding;
    font-size: $bubble-font-size;
    font-weight: 600;
    color: $bubble-color;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: $bubble-background;
    border-radius: $bubble-min-size;
  }

/*
// * Button */

  .cliqr--button-fab {
    width: $button-size;
    height: $button-size;
    min-width: $button-size;
    color: transparent;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;

    img {
      vertical-align: middle;
    }

    &:not(:disabled):hover {
      background-color: $color-accent;
    }

    & + & {
      margin-left: 8px;
    }
  }

  .cliqr--button {
    img {
      vertical-align: middle;
      padding: 2px;
    }
  }

  .cliqr--button-fab,
  .cliqr--button {
    &.loading {
      img { display: none; }

      &:before {
        content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiBmaWxsPSJibGFjayI+CiAgPHBhdGggb3BhY2l0eT0iLjI1IiBkPSJNMTYgMCBBMTYgMTYgMCAwIDAgMTYgMzIgQTE2IDE2IDAgMCAwIDE2IDAgTTE2IDQgQTEyIDEyIDAgMCAxIDE2IDI4IEExMiAxMiAwIDAgMSAxNiA0Ii8+CiAgPHBhdGggZD0iTTE2IDAgQTE2IDE2IDAgMCAxIDMyIDE2IEwyOCAxNiBBMTIgMTIgMCAwIDAgMTYgNHoiPgogICAgPGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJyb3RhdGUiIGZyb209IjAgMTYgMTYiIHRvPSIzNjAgMTYgMTYiIGR1cj0iMC44cyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIC8+CiAgPC9wYXRoPgo8L3N2Zz4K);
        line-height: 1.3em;
        vertical-align: middle;
      }
    }

    img.cliqr--button-icon-alt {
      display: none;
    }

    &:hover {
      img.cliqr--button-icon {
        display: none;
      }
      img.cliqr--button-icon-alt {
        display: inline;
      }
    }
  }

/*
// * Icon */

  img.cliqr--icon {
    width: $button-icon-size;
    height: $button-icon-size;
    vertical-align: middle;
  }

/*
// * Breadcrumb */

  nav.cliqr--breadcrumb {
    overflow: hidden;
    width: 100%;

    ol {
      padding-left: 0;
      line-height: 1.5em;
      list-style: none;
    }

    li {
      float: left;
      margin: 0 .5em 0 .8em;
    }

    a {
      background: #ddd;
      padding: .2em .8em;
      float: left;
      text-decoration: none;
      color: #444;
      position: relative;

      &:hover {
        background: $color-accent;
        color: $color-accent-contrast;
      }

      &:hover::before {
        border-color: $color-accent $color-accent $color-accent transparent;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -1.5em;
        border-width: 1.5em 0 1.5em 1em;
        border-style: solid;
        border-color: #ddd #ddd #ddd transparent;
        left: -1em;
      }

      &::after {
        content: "";
        position:  absolute;
        top: 50%;
        margin-top: -1.5em;
        border-top: 1.5em solid transparent;
        border-bottom: 1.5em solid transparent;
        border-left: 1em solid #ddd;
        right: -1em;
      }

      &:hover::after {
        border-left-color: $color-accent;
      }
    }
  }
  header.cliqr--page-header {
    position: relative;
    width: 100%;

    nav.cliqr--actions {
      position: absolute;
      top:1.5em;
      right: 0;

      ol {
        list-style: none;
        padding: 0 0 1em 0;
      }

      li {
        display: inline;
        line-height: 40px;
      }
    }
  }


/*
// * Task Groups */

  table.task-groups {
    tbody {
      tr {
        line-height: 3em;
      }

      a {
        font-weight: 800;
      }

      td:last-child {
        white-space: nowrap;
      }
    }
  }

  @at-root {
    .cliqr--dialog {
      fieldset {
        border: none;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
      }

      legend {
        padding: 1.5em 0 0 0;
        font-size: 1.5em;
      }

      .cliqr--upload-box {
        text-align: center;
        font-size: 1.25rem;
        background-color: #eee;
        padding: 0;
        position: relative;
        display: block;
        padding: 50px 20px;
        outline: 2px dashed $color-accent;
        outline-offset: -10px;

        &:hover {
          outline: 2px dashed red;
        }

        img {
          width: 100%;
          height: 60px;
          display: block;
          margin-bottom: 40px;
        }

        input[type=file] {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }
      }
    }
  }

/*
// * Task Lists */
  .cliqr--task-list {

    .cliqr--task-header {
      > a {
        line-height: 2.5em;
        display: block;
        font-weight: 800;
      }

      .cliqr--task-last-assignment {
        line-height: 2.5em;
        margin-left: 1em;
        margin-top: -0.8em;
        font-style: italic;
        font-size: 0.8em;

        img {
          height: 16px;
        }
      }
    }

    .cliqr--task-changed {
      color: color(#000000 whiteness(50%));
      font-size: 0.8em;
    }

    .cliqr--task-actions {
      white-space: nowrap;
    }
  }

/*
// * Task Creator */
  .tasks-add {
    ul.task-types {
      padding: 0;

      li {
        display: inline-block;

        button img {
          vertical-align: middle;
        }

        button:hover {
          background-color: color($color-accent-contrast blackness(20%));
          color: $color-accent;
        }
      }

      li.selected button {
        background: $color-accent;
        color: $color-accent-contrast;
        outline: 0;
      }
    }
  }

  /*
  // * Voting Show */

  article.cliqr--votings-show {
    lost-flex-container: row;

    > header {
      lost-column: 12/12;
    }

    > main {
      lost-column: 9/12;
    }

    nav.cliqr--voting-is-not-running {
      lost-column: 3/12 0;
    }

    > nav.cliqr--voting-is-running + main {
      lost-column: 12/12;
    }

    nav.cliqr--voting-is-running {
      lost-column: 12/12;
    }


    nav {
      fieldset {
        select {
          margin-top: 0;
          width: calc(100% - 35px);
        }

        option[disabled] {
          font-style: italic;
        }
      }
    }
  }

/*
// * Voting Compare */

  article.cliqr--votings-compare {

    > header {
      padding-bottom: 3em;
    }

    > main {
      lost-flex-container: row;

      > section {
        lost-column: 1/2 0 0;
        box-sizing: border-box;
      }

      .cliqr--voting-side-a {
        padding-right: 15px;
        border-right: 1px solid #eee;
      }

      .cliqr--voting-side-b {
        padding-left: 15px;
      }
    }
  }

/*
// * Task Show */

  article.cliqr--tasks-show {
    lost-flex-container: row;


    > nav {
      width: 100%;
    }

    > main {
      lost-column: 9/12 0 0;
      padding-right: 30px;
      box-sizing: border-box;
    }

    > aside {
      lost-column: 3/12 0;
      box-sizing: border-box;

      ol.cliqr--votings-list {
        padding: 0;
        list-style: none;

        a {
          display: block;
          line-height: 2.5em;
          white-space: nowrap;
          font-size: 0.8em;
        }

        img {
          margin-right: 0.5em;
        }

        .bubble {
          margin-left: 0.75em;
        }
      }
    }
  }

/*
// * Votings Archive */
  section.cliqr--archive-votings {

    * {
      box-sizing: border-box;
    }

    > ol {

      list-style: none;
      padding-left: 0;

      li {
        lost-flex-container: row;
      }
    }

    .cliqr--archive-header {
      lost-column: 8/12 0 0;

      > a {
        line-height: 3em;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .cliqr--archive-date {
      lost-column: 3/12 0 0;
    }

    .cliqr--archive-bubble {
      lost-column: 1/12 0 0;
    }
  }
}

/*
// * VotingShowView */
body.cliqr--voting-show {

  #layout_wrapper {
    #flex-header,
    .sticky-wrapper,
    #tabs,
    #layout_footer,
    #layout-sidebar,
    .helpbar-container {
      display: none;
    }

    #layout_page {
      margin: 0;
    }
  }
}
