header.cliqr--page-header {
    position: relative;
    width: 100%;

    nav.cliqr--actions {
        position: absolute;
        top:1.5em;
        right: 0;

        ol {
            list-style: none;
            padding: 0 0 1em 0;
        }

        li {
            display: inline;
            line-height: 40px;
        }
    }
}
