.cliqr--task-list {
    .cliqr--task-header {
        white-space: nowrap;
        overflow: hidden;
        max-width: 40em;


        > a {
            line-height: 2.5em;
            display: block;
            font-weight: 800;
            font-size: 1.1em;
        }

        .cliqr--task-last-assignment {
            line-height: 2.5em;
            margin-left: 1em;
            margin-top: -0.8em;
            font-style: italic;
            font-size: 0.8em;

            img {
                height: 16px;
            }
        }

        .cliqr--task-last-assignment-active a {
            vertical-align: middle;
            font-style: normal;
            color: red;
        }
    }

    .cliqr--task-actions {
        text-align: right;
        white-space: nowrap;
    }

    .cliqr--task-list-empty {
        font-size: 1.25em;
        line-height: 2;
        padding: 2em 1em;
        text-align: center;
    }

    .ui-sortable {
        box-sizing: border-box;
    }

    .ui-sortable-handle {
        cursor: move;
        i {
            color: $studip-base-color-40;
        }
    }

    .ui-sortable-placeholder {
        background-color: $studip-violet;
        color: $studip-violet;
        visibility: visible !important;
        position: relative;

        > * {
            font-size: 0px;
            padding: 2px 0 0 0;
        }
        > td:first-child:before {
            border-radius: 50%;
            width: 8px;
            height: 8px;
            background-color: $studip-violet;
            content: "·";
            position: absolute;
            color: white;
            top: -3px;
            left: 0px;
        }
    }

    .ui-sortable-helper {
        display: table;
        border: 1px solid #bbbbbb;
        border-left: 3px solid $studip-violet;
        box-shadow: 0 3px 4px rgba(116, 116, 116, 0.3);
        * {
            background-color: $studip-white;
        }
    }

    .cliqr--task-checkbox {
        width: 2em;
    }
}
