article.cliqr--tasks-show {

    display: flex;
    flex-wrap: wrap;

    > header {
        width: 100%;
        flex-basis: 100%;
    }

    > main {
        flex: 3 1 auto;
        padding-right: 30px;
        padding-bottom: 2em;
        margin-bottom: 2em;
        box-sizing: border-box;
    }

    > aside {
        flex: 1 0 content;
        box-sizing: border-box;

        .button {
            border-color: $studip-content-color-40;
        }

        > .button:first-child {
            margin-top: 0;
        }

        .cliqr--votings-list-item {
            img {
                margin-right: 0.5em;
            }

            .bubble {
                margin-left: 0.75em;
            }
        }
    }
}
