article.cliqr--tasks-show {

    display: flex;
    flex-wrap: wrap;

    > * {
        flex: 1 100%;
    }

    @include tablet {
        > aside {
            flex: 1 auto;
        }
        > main {
            flex: 5 0px;
        }
    }

    > main {
        padding-right: 30px;
        padding-bottom: 2em;
        margin-bottom: 2em;
    }

    > aside {
        .button {
            border-color: $studip-content-color-40;
        }

        > .button:first-child {
            margin-top: 0;
        }

        .cliqr--votings-list-item {
            img {
                margin-right: 0.5em;
            }

            .bubble {
                margin-left: 0.75em;
            }
        }
    }
}
