$color-accent: #28497c !default;
$color-accent-contrast: #ffffff !default;
$color-activity: #ffbd33 !default;

$studip-button-height: 28px;
$button-size: 44px;
$button-icon-size: 16px;
$button-icon-size-header: 32px;

$bubble-font-size: 12px !default;
$bubble-color: #ffffff !default;
$bubble-background: #28497c !default;
$bubble-min-size : 12px !default;
$bubble-padding: 3px 7px !default;

$baseFontSize: 14px !default;
$baseLineHeight: 20px !default;

$headingsFontWeight: 300 !default;

$breadcrumb-background: #899ab9;
$breadcrumb-background-activity: #ffbd33;

$breadcrumb-color: #ffffff;
$breadcrumb-color-activity: #000000;

/* The container horizontal gap, which acts as the offset for breakpoints */
$gap: 32px !default;

/* 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16 */
$tablet: 801px !default;

/* 960px container + 4rem */
$desktop: calc(960px + 2 * $gap) !default;

/* 1152px container + 4rem */
$widescreen: calc(1152px + 2 * $gap) !default;

/* 1344px container + 4rem */
$fullhd: calc(1344px + 2 * $gap) !default;
