article.cliqr--votings-compare {

    > header {
        padding-bottom: 3em;
    }

    > main {
        display: flex;

        > section {
            flex: 0 0 50%;
            box-sizing: border-box;
        }

        .cliqr--voting-side-a {
            padding-right: 15px;
            border-right: 1px solid #eee;
        }

        .cliqr--voting-side-b {
            padding-left: 15px;
        }
    }
}
