article.cliqr--votings-compare {

    > header {
        padding-bottom: 3em;
    }

    > main {
        lost-flex-container: row;

        > section {
            lost-column: 1/2 0 0;
            box-sizing: border-box;
        }

        .cliqr--voting-side-a {
            padding-right: 15px;
            border-right: 1px solid #eee;
        }

        .cliqr--voting-side-b {
            padding-left: 15px;
        }
    }
}
