article.cliqr--votings-show {

    display: flex;
    flex-wrap: wrap;

    > * {
        flex: 1 100%;
    }

    @include tablet {
        > .cliqr--voting-is-not-running {
            flex: 0 auto;
        }
        > main {
            flex: 5 0px;
            padding-right: 30px;
        }
    }

    > main {
        padding-bottom: 2em;
        margin-bottom: 2em;
    }

    > .cliqr--voting-is-not-running {
        .button {
            border-color: $studip-content-color-40;
        }
    }

    nav.cliqr--voting-is-running {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        border-bottom: 2px dotted #aaa;
        margin-bottom: 2em;

        div.url {
            font-size: 30px;
            font-size: 5.88vh;
            line-height: 1.5;
            padding-right: 1em;
        }

        div.show-qr-code {
            flex: 1;
            text-align: right;
        }

        div.actions {
            margin-left: auto;
        }
    }

    footer .cliqr--sample-size {
        font-size: 1.2em;
        text-align: right;
        color: #666;
    }


    .cliqr--voting-is-not-running {
        form {
            display: flex;
            align-items: center;
            width: 100%;

            select {
                flex: 1;
                margin-right: 0.5em;
            }

            option[disabled] {
                font-style: italic;
            }
        }
    }
}
