<div class="sidebar-widget"{{#if id}} id="{{id}}"{{/if}}>
    <div class="sidebar-widget-header">
        {{> title}}
    </div>
    <div class="sidebar-widget-content">
        {{> content}}
    </div>
</div>
