#cliqr_qrcode {
    text-align : center;
    width : 49%;
    margin : 0;
    padding : 0;
    float : left;
}

#cliqr_shorturl {
    font-size : 400%;
    line-height : 150px;
    font-weight : bold;
    width : 49%;
    margin : 0;
    padding : 0;
    float : left;
}

#cliqr_vote_results {
    clear : both;
}