.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
/*
.input-block-level {
  display: block;
  width: 100%;
  min-height: @inputHeight; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  .box-sizing(border-box); // Makes inputs behave like true block-level elements
}
*/
#questions li {
  list-style: none;
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 140px;
}
#questions .question {
  border: 1px solid #D0CFCB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 100px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
#questions div.question:hover {
  border-color: #3897CA;
}
#questions .title {
  font-size: smaller;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 40px;
}
#questions li a.hover span {
  background: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  text-decoration: none;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  height: 30%;
  width: 128px;
  margin: -15% 5px 0 5px;
  line-height: 2em;
  display: none;
}
#questions li a.hover {
  z-index: 50;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#questions a.hover:hover span {
  display: inline;
}
#questions div.question div.control {
  background-color: #F9F9F9;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  bottom: 0px;
  height: 24px;
  left: 0px;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
#questions div.control a {
  background-position: 0px 50%;
  background-repeat: no-repeat;
  float: left;
  height: 16px;
  margin: 0px 4px;
  padding: 4px 0px;
  width: 16px;
}
#questions div.control a.edit {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  background-image: url('../../../../assets/images/icons/16/grey/edit.png');
}
#questions div.control a.edit:hover {
  background-image: url('../../../../assets/images/icons/16/black/edit.png');
}
#questions div.control a.edit:active {
  background-image: url('../../../../assets/images/icons/16/blue/edit.png');
}
#questions div.control button.delete {
  float: right;
  width: 24px;
  height: 24px;
  border: none;
}
#questions div.control button.delete {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  background-image: url('../../../../assets/images/icons/16/grey/trash.png');
}
#questions div.control button.delete:hover {
  background-image: url('../../../../assets/images/icons/16/black/trash.png');
}
#questions div.control button.delete:active {
  background-image: url('../../../../assets/images/icons/16/blue/trash.png');
}
#cliqr-show {
  /*
  pre { float: right; }
  */

}
#cliqr-show #layout_container {
  position: relative;
}
#cliqr-show .vote-controls {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotate(-90deg) translateY(-100%);
  -moz-transform: rotate(-90deg) translateY(-100%);
  -ms-transform: rotate(-90deg) translateY(-100%);
  -o-transform: rotate(-90deg) translateY(-100%);
  transform: rotate(-90deg) translateY(-100%);
  white-space: nowrap;
  width: 100%;
}
#cliqr-show .vote-controls .button {
  float: right !important;
}
#cliqr-show .chart {
  border: 1px solid magenta;
}
#cliqr-show h2 {
  margin-top: 0;
  font-size: 3em;
}
#cliqr-show .appeal {
  font-size: 5em;
  background: #c8c9c9;
  color: #6e7070;
  position: relative;
  text-align: center;
}
#cliqr-show .appeal a.qr {
  float: right;
  width: 64px;
  height: 64px;
  background: #ffffff url('qrcode.png') no-repeat 50% 50%;
  border-radius: 64px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -32px;
  margin-right: 16px;
}
#cliqr-show .appeal a.qr:hover {
  box-shadow: 0 0 0.25em #6e7070;
}
.vote-form fieldset {
  border: none;
  border-bottom: 1px solid #EEEEEE;
  margin-left: 0px;
  padding: 30px 0px 20px 20px;
}
.vote-form legend {
  font-size: 1.75em;
  color: #899AB9;
  padding-top: 30px;
}
.vote-form label {
  text-align: left;
  width: 220px;
  float: left;
  padding-top: 5px;
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.vote-form .control-group {
  margin-left: 260px;
}
.vote-form .control-group input,
.vote-form .control-group .choice-new {
  width: 400px;
  margin-bottom: 5px;
  padding: 4px 6px;
  border: 1px solid #CCCCCC;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.024);
}
.vote-form .control-group .choice-new {
  cursor: pointer;
  display: block;
  vertical-align: middle;
  background-color: #FCFCFC;
  color: #999999;
}
.vote-form .control-group .choice-input a.close {
  vertical-align: middle;
  padding: 5px;
  cursor: pointer;
}
.vote-form .control-group .choice-input a.close:hover {
  text-shadow: 0 0 2px #899AB9;
  color: #666666;
}
.vote-form .form-actions {
  float: right;
}
