<span class="nominal">{{nominal index}}</span>

<input class="choice no-hint" maxlength="500" type="text" name="answers[{{index}}]" value="{{text}}" required>

<span class="cliqr--mc-choice-actions">
{{fab "remove" "Entfernen" "trash"}}
</span>
