<form class="default" method="post" accept-char="UTF-8">

    {{#if error}}
        <div class="messagebox messagebox_error">
            Fehler: {{error}}
        </div>
    {{/if}}

    <label>
        <span>Was möchten Sie fragen?</span>
        <div class="cliqr--mc-description"></div>
    </label>
    <label>
        <span>Titel der Frage (optional)</span> (wird in Listendarstellungen verwendet)
        <div class="cliqr--mc-title"></div>
    </label>

    <div class="cliqr--mc-answer-templates"></div>

    <label class="cliqr--mc-choices"></label>

    <fieldset class="collapsable collapsed cliqr--multiple-choice-options">
        <legend>Optionen</legend>
        <div></div>
    </fieldset>

    <footer>
        {{button "save" "Speichern" icon="accept" type="submit"}}
        {{button "cancel" "Abbrechen" icon="decline"}}
    </footer>
</form>
