<header>
    <div class="cliqr--mc-description">{{{description_html}}}</div>
</header>

<main>
    <table>
        <tbody>
            {{#each answers}}
                <tr>
                    <td class="nominal"> {{nominal @index}} </td>
                    <td class="text"> {{text}} </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</main>
