{{spinner}}
<textarea name="{{key}}" class="x-wysiwyg" required placeholder="Tragen Sie hier die Fragestellung ein">{{value}}</textarea>
{{#if error}}
    <p class="cliqr--help cliqr--is-danger">{{error}}</p>
{{/if}}
