.vote-form fieldset {
  border: none;
  border-bottom: 1px solid #EEEEEE;
  margin-left: 0px;
  padding: 30px 0px 20px 20px;
}
.vote-form legend {
  font-size: 1.75em;
  color: #899AB9;
  padding-top: 30px;
}
.vote-form label {
  text-align: left;
  width: 220px;
  float: left;
  padding-top: 5px;
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.vote-form .control-group {
  margin-left: 260px;
}
.vote-form .control-group input,
.vote-form .control-group .choice-new {
  width: 400px;
  margin-bottom: 5px;
  padding: 4px 6px;
  border: 1px solid #CCCCCC;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.024);
}
.vote-form .control-group .choice-new {
  cursor: pointer;
  display: block;
  vertical-align: middle;
  background-color: #FCFCFC;
  color: #999999;
}
.vote-form .control-group .choice-input a.close {
  vertical-align: middle;
  padding: 5px;
  cursor: pointer;
}
.vote-form .control-group .choice-input a.close:hover {
  text-shadow: 0 0 2px #899AB9;
  color: #666666;
}
.vote-form .form-actions {
  float: right;
}
