.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
/*
.input-block-level {
  display: block;
  width: 100%;
  min-height: @inputHeight; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  .box-sizing(border-box); // Makes inputs behave like true block-level elements
}
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
}
h1,
h2,
h3 {
  line-height: 40px;
}
h1 {
  font-size: 38.5px;
}
h2 {
  font-size: 31.5px;
}
h3 {
  font-size: 24.5px;
}
h4 {
  font-size: 17.5px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 11.9px;
}
h1 small {
  font-size: 24.5px;
}
h2 small {
  font-size: 17.5px;
}
h3 small {
  font-size: 14px;
}
h4 small {
  font-size: 14px;
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
.xdebug-var-dump {
  height: 1em;
  overflow: hidden;
  opacity: 0.1;
  -webkit-transition: 0s 9999s;
  -moz-transition: 0s 9999s;
  -o-transition: 0s 9999s;
  transition: 0s 9999s;
}
.xdebug-var-dump:active {
  height: 100%;
  opacity: 1;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.cliqr-loader {
  line-height: 1.5em;
  color: #444;
  background: url('../../../../../assets/images/ajax_indicator_small.gif') 95% center no-repeat;
  padding: 0.5em 20px 0.5em 0.5em;
  border: 1px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  position: absolute;
  top: -0.25em;
}
#layout_container {
  position: relative;
}
#questions-index div.page {
  padding: 15px 5% 4.5em;
}
#questions-index form.filter {
  background-color: #e8e8e8;
  border: 1px solid #aaaaaa;
  color: #333333;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  height: 35.171875px;
  margin: 0 0 -0.5em;
  padding: 0px 30px;
  text-shadow: #ffffff 0px 1px 0px;
  position: relative;
}
#questions-index form.filter:after {
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 7px;
  top: 50%;
  margin-top: -9px;
  content: "";
  width: 18px;
  height: 18px;
  opacity: .2;
}
#questions-index form.filter:after {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  background-image: url('../../../../../assets/images/icons/16/black/search.png');
}
#questions-index form.filter input.search {
  width: 100%;
  border: none;
  padding: .4em 0;
  margin: 0;
  display: block;
  background: transparent none;
  outline: 0 !important;
  min-height: 1.4em;
  line-height: 1.4em;
  font-size: 16px;
  text-shadow: 0 1px 0 #fff;
}
#questions-index .ui-screen-hidden {
  display: none;
}
#questions-index ol {
  padding: 0;
  list-style: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
#questions-index ol li {
  text-shadow: 0 1px 0 #fff;
  overflow: hidden;
  height: 60px;
  margin: 1px 0 0 0;
  position: relative;
  background-color: #eee;
  cursor: pointer;
}
#questions-index ol li a {
  display: block;
}
#questions-index ol li a:hover {
  color: #24437c;
}
#questions-index ol li:hover {
  background-color: #b3b3b3;
  background: #dfdfdf;
  background-color: #eaeaea;
  background-image: -moz-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#e0e0e0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -o-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0f0f0', endColorstr='#ffe0e0e0', GradientType=0);
}
#questions-index ol li.divider {
  background: #bbb;
  background-color: #d6d6d6;
  background-image: -moz-linear-gradient(top, #dddddd, #cccccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddddd), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #dddddd, #cccccc);
  background-image: -o-linear-gradient(top, #dddddd, #cccccc);
  background-image: linear-gradient(to bottom, #dddddd, #cccccc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdddddd', endColorstr='#ffcccccc', GradientType=0);
  color: #333;
  cursor: default;
  height: auto;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 15px;
  text-shadow: 0 1px 0 #ddd;
}
#questions-index ol li .answers span + span {
  border-left: 1px solid #b3b3b3;
  padding-left: 0.5em;
}
#questions-index ol li .count {
  background-color: #eeeeee;
  color: #222222;
  text-shadow: #ffffff 0px 1px 0px;
  position: absolute;
  right: 40px;
  top: 50%;
  margin-top: -1em;
  font-size: 11px;
  font-weight: bold;
  padding: .2em .5em .2em .45em;
  border: 1px solid #cccccc;
  border-radius: 1em;
}
#questions-index ol li.state-new .count {
  display: none;
}
#questions-index ol li .detail {
  padding: 0 15px;
  overflow: hidden;
}
#questions-index ol li .detail h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 6px 0;
}
#questions-index div.empty {
  padding: 1em 0;
}
#cliqr-show,
.page.questions-show {
  /*
  #layout_container {
    padding: 5px 0 0 0;
  }
  */

}
#cliqr-show .question,
.page.questions-show .question {
  min-height: 500px;
  position: relative;
  padding: 0em 75px 1em 2em;
}
#cliqr-show h2,
.page.questions-show h2 {
  font-size: 3em;
  line-height: 1.5;
  margin-top: 0;
}
#cliqr-show .results ol,
.page.questions-show .results ol {
  padding: 0;
  margin: 0;
}
#cliqr-show .results li,
.page.questions-show .results li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 2.5em;
  line-height: 1.5;
}
#cliqr-show .results .text,
.page.questions-show .results .text {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 1.5em;
  display: inline-block;
}
#cliqr-show .results .text .nominal,
.page.questions-show .results .text .nominal {
  color: #999;
  font-size: 0.7em;
}
#cliqr-show .results .chart,
.page.questions-show .results .chart,
#cliqr-show .results .count,
.page.questions-show .results .count,
#cliqr-show .results .percent,
.page.questions-show .results .percent {
  visibility: hidden;
}
#cliqr-show .results .chart,
.page.questions-show .results .chart {
  background-color: #3389b7;
  background-color: #96c7e1;
  background-image: -moz-linear-gradient(left, #3389b7, #96c7e1);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#3389b7), to(#96c7e1));
  background-image: -webkit-linear-gradient(left, #3389b7, #96c7e1);
  background-image: -o-linear-gradient(left, #3389b7, #96c7e1);
  background-image: linear-gradient(to right, #3389b7, #96c7e1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3389b7', endColorstr='#ff96c7e1', GradientType=1);
  height: 1em;
  margin-left: 0.5em;
  display: inline-block;
  vertical-align: text-top;
  border: 1px solid #232323;
}
#cliqr-show .results .count,
.page.questions-show .results .count {
  display: inline-block;
  color: #3389b7;
  padding-left: 0.5em;
}
#cliqr-show .results .percent,
.page.questions-show .results .percent {
  font-size: 0.66em;
  color: #b3b3b3;
}
#cliqr-show .results li[data-count="0"] .chart,
.page.questions-show .results li[data-count="0"] .chart,
#cliqr-show .results li[data-count="0"] .percent,
.page.questions-show .results li[data-count="0"] .percent {
  display: none;
}
#cliqr-show .results .sample-size,
.page.questions-show .results .sample-size {
  font-size: 2em;
  color: #666;
  position: absolute;
  right: 1em;
  bottom: 4em;
}
#cliqr-show .controls,
.page.questions-show .controls {
  position: absolute;
  top: 4em;
  right: 1em;
  text-align: right;
}
#cliqr-show .controls .button,
.page.questions-show .controls .button {
  display: inline-block;
}
#cliqr-show img.qr,
.page.questions-show img.qr {
  height: 350px;
  position: absolute;
  right: 120px;
  top: 4.5em;
  visibility: hidden;
}
#cliqr-show .question.qr-visible img.qr,
.page.questions-show .question.qr-visible img.qr {
  visibility: visible;
}
#cliqr-show .question:after,
.page.questions-show .question:after {
  height: 90px;
  content: "";
  display: block;
}
#cliqr-show .appeal,
.page.questions-show .appeal {
  margin: 0 -20px -20px -20px;
  font-size: 4em;
  background: #c8c9c9;
  color: #6e7070;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  display: none;
}
#cliqr-show span.loader,
.page.questions-show span.loader {
  font-style: italic;
  color: #a1a3a3;
  display: none;
}
#cliqr-show .appeal.busy button,
.page.questions-show .appeal.busy button {
  display: none !important;
}
#cliqr-show .appeal.busy span.loader,
.page.questions-show .appeal.busy span.loader {
  display: block;
}
#cliqr-show .appeal.start button,
.page.questions-show .appeal.start button {
  width: 100%;
  font-size: 1em;
  display: block;
  padding: 0;
  margin: 0;
}
#cliqr-show .appeal.vote,
.page.questions-show .appeal.vote {
  padding: 0.4em;
}
#cliqr-show .appeal.vote a.short,
.page.questions-show .appeal.vote a.short {
  white-space: nowrap;
}
#cliqr-show .appeal.vote a.short:before,
.page.questions-show .appeal.vote a.short:before {
  content: attr(alt);
  font-size: 0.6666em;
  padding-right: 0.3333em;
  color: #6e7070;
}
#cliqr-show .appeal.vote a.qr,
.page.questions-show .appeal.vote a.qr {
  float: right;
  width: 64px;
  height: 64px;
  background: #ffffff url('qrcode.png') no-repeat 50% 50%;
  border-radius: 64px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -32px;
  margin-right: 16px;
  z-index: 1;
}
#cliqr-show .appeal.vote a.qr:hover,
.page.questions-show .appeal.vote a.qr:hover {
  box-shadow: 0 0 0.25em #6e7070;
}
#cliqr-show .question.state-stopvis .chart,
.page.questions-show .question.state-stopvis .chart,
#cliqr-show .question.state-stopvis .count,
.page.questions-show .question.state-stopvis .count,
#cliqr-show .question.state-stopvis .percent,
.page.questions-show .question.state-stopvis .percent {
  visibility: visible;
}
#cliqr-show .question.state-stopvis .text,
.page.questions-show .question.state-stopvis .text {
  width: 30%;
  text-align: right;
}
#cliqr-show .question.state-new .appeal.start,
.page.questions-show .question.state-new .appeal.start,
#cliqr-show .question.state-stopvis .appeal.start,
.page.questions-show .question.state-stopvis .appeal.start {
  display: block;
}
#cliqr-show .question.state-active .appeal.vote,
.page.questions-show .question.state-active .appeal.vote {
  display: block;
}
#cliqr-show .question.state-new .sample-size,
.page.questions-show .question.state-new .sample-size {
  display: none;
}
#cliqr-show .question:fullscreen,
.page.questions-show .question:fullscreen {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
}
#cliqr-show .question:fullscreen h2,
.page.questions-show .question:fullscreen h2 {
  margin-left: 0.5em;
  padding-top: 0.5em;
}
#cliqr-show .question:fullscreen button.fullscreen,
.page.questions-show .question:fullscreen button.fullscreen {
  display: none;
}
#cliqr-show .question:fullscreen .appeal,
.page.questions-show .question:fullscreen .appeal {
  margin: 0;
}
#cliqr-show .question:-webkit-full-screen,
.page.questions-show .question:-webkit-full-screen {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
}
#cliqr-show .question:-webkit-full-screen h2,
.page.questions-show .question:-webkit-full-screen h2 {
  margin-left: 0.5em;
  padding-top: 0.5em;
}
#cliqr-show .question:-webkit-full-screen button.fullscreen,
.page.questions-show .question:-webkit-full-screen button.fullscreen {
  display: none;
}
#cliqr-show .question:-webkit-full-screen .appeal,
.page.questions-show .question:-webkit-full-screen .appeal {
  margin: 0;
}
#cliqr-show .question:-moz-full-screen,
.page.questions-show .question:-moz-full-screen {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
}
#cliqr-show .question:-moz-full-screen h2,
.page.questions-show .question:-moz-full-screen h2 {
  margin-left: 0.5em;
  padding-top: 0.5em;
}
#cliqr-show .question:-moz-full-screen button.fullscreen,
.page.questions-show .question:-moz-full-screen button.fullscreen {
  display: none;
}
#cliqr-show .question:-moz-full-screen .appeal,
.page.questions-show .question:-moz-full-screen .appeal {
  margin: 0;
}
.vote-form fieldset {
  border: none;
  border-bottom: 1px solid #EEEEEE;
  margin-left: 0px;
  padding: 30px 0px 20px 20px;
}
.vote-form legend {
  font-size: 1.75em;
  color: #899AB9;
  padding-top: 30px;
}
.vote-form label {
  text-align: left;
  width: 220px;
  float: left;
  padding-top: 5px;
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.vote-form .control-group {
  margin-left: 260px;
}
.vote-form .control-group input,
.vote-form .control-group .choice-new {
  width: 400px;
  margin-bottom: 5px;
  padding: 4px 6px;
  border: 1px solid #CCCCCC;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.024);
}
.vote-form .control-group .choice-new {
  cursor: pointer;
  display: block;
  vertical-align: middle;
  background-color: #FCFCFC;
  color: #999999;
}
.vote-form .control-group .choice-input a.close {
  vertical-align: middle;
  padding: 5px;
  cursor: pointer;
}
.vote-form .control-group .choice-input a.close:hover {
  text-shadow: 0 0 2px #899AB9;
  color: #666666;
}
.vote-form .form-actions {
  float: right;
}
