#cliqr-container,
#cliqr-poll-container {

  .cliqr--votings-compare .cliqr--multiple-choice-assignment-view h1 {
    display: none;
  }

  $chartColor: #ffbd33;
  $chartColor2: #f26e00;
  $color-diminished: #999999;

  .cliqr--multiple-choice-assignment-view {

    .cliqr--mc-description {
      font-weight: 400;
      font-size: 2.75em;
    }

    table {
      font-size: 2em;
      line-height: 1.5;
      overflow: hidden;
      border-collapse: collapse;

      td {
        padding-top: .75em;
      }

      .nominal {
        color: $color-diminished;
        width: 1em;
      }

      .text, .graph, .percent {
        padding-left: 0.75em;
      }
    }

    .chart {
      display: inline-block;
      background-color: $chartColor;
      box-shadow: 1px 1px 1px 0px $chartColor2;

      height: 1.5em;
      margin-left: 0.5em;
      vertical-align: middle;
    }

    .count {
      padding-left: 0.25em;
      color: $chartColor2;
      text-align: right;
    }

    .percent {
      color: $color-diminished;
    }
  }


  .cliqr--multiple-choice-show-view {

    .cliqr--mc-description {
      font-weight: 400;
      font-size: 2.75em;
    }

    table {
      font-size: 2em;
      line-height: 1.5;
      overflow: hidden;
      border-collapse: collapse;

      td {
        padding-top: .75em;
      }

      .nominal {
        color: $color-diminished;
        width: 1em;
      }

      .text {
        padding-left: 0.75em;
      }
    }
  }

  .cliqr--multiple-choice-create-view,
  .cliqr--multiple-choice-edit-view {

    .cliqr--mc-description {
      .cke_contents {
        font-size: 2.75em;
      }

      margin-bottom: 2em;
    }

    .choices {

      .choice-input {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
      }

      input {
        /* width: 500px; */
        flex: 1;
        margin: 0;
        padding: 4px 6px;
        border: 1px solid #CCCCCC;
        box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.024);
      }

      span.nominal {
        line-height: 3em;
        display: inline-block;
        background-color: #e7ebf1;
        padding: 0 .5em;
      }

      .choice-input  + .choice-input {
        margin-top: 0.5em;
      }

      .choice-input input {
        display: inline-block;
      }

      .cliqr--mc-choice-actions {
        margin-left: 8px;
      }

      .choices-required {
        position: relative;

        select {
          position: absolute;
          left: 0;
          top: -25px;
          z-index: -1;
          border: none;
        }
      }
    }
  }

  .cliqr--multiple-choice-poll-view {

    .description {
      font-size: 2em;
    }

    li {
      padding: 0;
    }

    label {
      display: block;
      padding: .75rem 1.25rem;
      margin: 0;
    }
  }
}
