<header>
    <h1>Neue Frage</h1>
</header>

<div class="tabs">
    <ul>
        <li>Art der Frage:</li>
        {{#each taskTypes as |type|}}
            <li{{#if type.selected}} class="is-active"{{/if}}>
                <a class="js-add-question{{#if type.selected}} is-active{{/if}}"
                   data-typeid="{{type.id}}">
                    <img class="cliqr--task-types-icon"
                         src="{{../STUDIP.ASSETS_URL}}/images/icons/blue/{{type.icon}}.svg">
                    {{name}}
                </a>
            </li>
        {{/each}}
    </ul>
</div>

<main></main>
