<form class="cliqr--add-task-group-form"
      method="post"
      accept-char="UTF-8">

    <fieldset>
        <label for="cliqr--task-group-title">Name:</label>
        <div class="control-group">
            <input id="cliqr--task-group-title" name="title" required>
        </div>
    </fieldset>

    <fieldset>
        <div class="button-group">
            {{button "create" "Speichern"}}
            {{button "cancel" "Abbrechen"}}
        </div>
    </fieldset>
</form>
