<nav>
    <ol>
        <li>
            <a href="#task-groups-{{task_group_id}}">
                zurück zur Fragensammlung
            </a>
        </li>
        <li>
            <a href="#task/show/{{id}}">
                Frage ansehen
            </a>
        </li>
    </ol>
</nav>

<main></main>
