<table class="cliqr--task-list task-group default">
    <thead>
        <tr>
            <th></th>
            <th> Titel </th>
            <th> letzte Änderung </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#unless tasks}}
          <tr>
            <td colspan="4" class="cliqr--task-list-empty">
                <p>
                    Sie haben derzeit noch keine Fragen.
                </p>
                <p>
                    Klicken Sie auf den Knopf „Frage&nbsp;erstellen“,
                    um eine anzulegen!
                </p>
            </td>
          </tr>
        {{/unless}}
    </tbody>

    <tfoot>
        <tr>
            <td colspan="4">
                <a href="#task/create/{{taskGroup.id}}">
                    {{button "createTask" "Frage erstellen" icon="add-assessment" class="cliqr--button-important" color="red"}}
                </a>
            </td>
        </tr>
    </tfoot>
</table>
