<form class="cliqr--add-task-group-form default"
      method="post"
      accept-char="UTF-8">

    <fieldset>
        <label>
            Name
            <input type="text" name="title" required>
        </label>
    </fieldset>

    <footer>
        {{button "create" "Speichern" once=true}}
        {{button "cancel" "Abbrechen"}}
    </footer>
</form>
