<header class="cliqr--page-header">
    {{> breadcrumb}}
    <h1>
        {{icon "folder-full" color="black"}}
        Fragensammlung: {{shorten test.title 40}}
    </h1>

    <nav class="cliqr--actions">
        <ol>
            <li>
                <a href="#task-group/edit/{{id}}">
                    {{fab "edit" "Fragensammlung bearbeiten" "edit"}}
                </a>
            </li>
        </ol>
    </nav>
</header>


<section class="task-list-container"></section>
<section class="task-create-container"></section>
