votings-compare

{{#with votingA}}
    <section class="cliqr--voting-side-a">
        {{json .}}

        <main></main>
    </section>
{{/with}}

{{#with votingB}}
    <section class="cliqr--voting-side-b">
        {{json .}}

        <main></main>
</section>
{{/with}}
