<header>
    <h1>Beendete Abstimmungen</h1>
</header>

<section class="cliqr--archive-votings">
    <table class="default">
        <thead>
            <tr>
                <th> Titel der Frage </th>
                <th> Datum </th>
                <th> Anzahl Antworten </th>
                {{#user_role "lecturer"}}
                    <th> &nbsp; </th>
                {{/user_role}}
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</section>
